[Desktop Entry]
Name=Epic Ninja
Comment=Ninja game by GriffPatch on Scratch
Exec= /opt/kano/scratch-game-launcher/Epic-Ninja.sh
Icon=/opt/kano/scratch-game-launcher/epic-ninja.png
Type=Application
Categories=Application;Game;
