[Desktop Entry]
Name=Geometry Jump
Comment=Basic shape jumping game by Punkbass on Scratch
Exec=Geometry-Jump.sh
Icon=/opt/kano/scratch-game-launcher/geometry-jump.png
Type=Application
Categories=Application;Game;
