[Desktop Entry]
Name=Geometry Jump
Comment=Basic shape jumping game by Punkbass on Scratch
Exec=qjoypad "FOIL-Mario" & chromium --app=https://phosphorus.github.io/app.html?id=21554369&turbo=false&full-screen=true
Icon=/opt/kano/scratch-game-launcher/geometry-jump.png
Type=Application
Categories=Application;Game;
